{% extends 'base/base-lake.html' %}

{% block page_content %}
    <div class="lake-card-details parent">
        <div class="lake-card-child child">
            <img class="lake-img" src="{{ publiclake.photo.url }}" alt="{{ publiclake.name }} photo">
            <h4>Public Lake {{ publiclake.name }}</h4>
            <p>{{ publiclake.region }} region</p>
            {% if publiclake.address %}
                <p>{{ publiclake.address }}</p>
            {% endif %}
            <p><a href="{{ publiclake.google_maps_link }}" target="_blank" rel="noopener norefferer">Link
                to {{ publiclake.name }}'s</a> page in GOOGLE MAPS</p>
            <form action="{% url 'list public lakes' %}">
                <input type="submit" value="Back to all"/>
            </form>
        </div>
        <div class="lakeDetails child">
            <h3>Fish you can catch in {{ publiclake.name }} lake:</h3>
            {% for fish in publiclake.fish.all %}
                <a href="{% url 'fish details' pk=fish.pk %}" target="_blank" rel="noopener norefferer">
                    <h4><img class="lake-fish-image" src="{{ fish.fish_picture }}" alt="{{ fish.name }}img">{{ fish.name }}</h4></a>
            {% endfor %}
        </div>

    </div>
{% endblock %}