{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Fishbook</title>
</head>
<body>
<header class="header">
    {% include 'base/partials/nav.html' %}
</header>

<main class="main-content">
    {% block page_content %}
    {% endblock %}
</main>

<footer class="footer">
    <span>
		THE SOCIAL NETWORK FOR FISHERMEN © 2022 FISHBOOK 2022 © THE SOCIAL NETWORK FOR FISHERMEN
    </span>
</footer>
</body>
</html>