{% extends 'base/base.html' %}
{% load placeholders %}
{% block page_content %}

    <div class="bg">
        <h1 id="acc-message">Registration</h1>
        <form class="user-form" method="post" action="{% url 'register user' %}">
                {{ form.email|placeholder:'Email: ' }}
                {{ form.password1|placeholder:'Password: ' }}
                {{ form.password2|placeholder:'Repeat password: ' }}
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
    <p id="bottom-acc-message">Already registrated? <a href="{% url 'login user' %}">Login</a></p>



    </div>

{% endblock %}
