{% extends 'base/base-auth.html' %}
{% load placeholders %}
{% block page_content %}

    <div>
        <h1 id="acc-message">Create profile</h1>
        <form class="user-form" method="post" action="{% url 'create profile' %}" enctype="multipart/form-data">

            {% for field in form %}
                <p class="error">{{ field.errors }}</p>
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button style="cursor: pointer" type="submit">Create</button>
            {% csrf_token %}

        </form>
    </div>

{% endblock %}
