{% extends 'base/base-auth.html' %}
{% load static %}
{% block page_content %}

    {#    <div class="bg">#}
    {#        <div style="#}
    {#        background: lightskyblue;#}
    {#    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);#}
    {#    transition: 0.3s;#}
    {#    width: 40%;#}
    {#    border-radius: 5px; :hover{box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);} ">#}
    {#            <img src="{{ profile.profile_picture.url }}" alt="profile picture of {{ profile.username }}"#}
    {#                 style="width:50%">#}
    {#            <div style="padding: 2px 16px;">#}
    {#                <h4><b>{{ profile.username }}</b></h4>#}
    {#                <p>{{ profile.profile_type }}</p>#}
    {#                <p>Favourite fishing: {{ profile.fishing_style }}</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="profile-parent">
        <div class="profile-card">
            <div class="card">
                <img src="{{ profile.profile_picture.url }}" alt="profile picture of {{ profile.username }}">
                <div class="container">
                    <h4><b>{{ profile.username }}</b></h4>
                    <p>{{ profile.profile_type }}</p>
                    <p>Favourite fishing: {{ profile.fishing_style }}</p>
                </div>
                {% if is_owner %}
                <div class="editProfile">
                    <a href="{% url 'edit profile' pk=profile.user.pk %}">
                        <img class="editpic" src="{% static 'images/edit.png' %}" alt="edit button">
                    </a>
                    <a href="{% url 'delete user' pk=profile.user.pk %}">
                        <img class="editpic" src="{% static 'images/delete.jpg' %}" alt="edit button">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="profile-photos">
            {% for photo in photos %}
                <a href="{% url 'details photo' pk=photo.pk %}">
                    <img src="{{ photo.photo.url }}" alt="fish photo">
                </a>
            {% endfor %}
        <div class="paginator">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ photos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}">next</a>
                <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        </div>
    </div>



{% endblock %}