{% extends 'base/base-auth.html' %}
{% load placeholders %}
{% block page_content %}

    <div>
        <h1 class="msgEditPrfl">Edit profile</h1>
        <form class="user-form-edit" method="post" action="{% url 'edit profile' pk=profile.pk %}"
              enctype="multipart/form-data">
            {% for field in form %}
                <p class="error">{{ field.errors }}</p>
                {{ field.label }}:
                {{ field }}
            {% endfor %}
            <button type="submit">Edit</button>
            {% csrf_token %}

        </form>
    </div>

{% endblock %}