{% extends 'base/base-auth.html' %}
{% load placeholders %}
{% block page_content %}

    <div>
        <h1 id="acc-message">Edit profile</h1>
        <form class="profile-form-pass-change" method="post" action="{% url 'edit profile' pk=profile.pk %}"
              enctype="multipart/form-data">
            {% for field in form %}
                <p class="error">{{ field.errors }}</p>
                <label>{{ field.label }} : {{ field }}</label>
            {% endfor %}
            <button type="submit">Edit</button>
            {% csrf_token %}

        </form>
    </div>

{% endblock %}