{% extends 'base/base.html' %}
{% block page_content %}
    {% for photo in photos %}
        <div class="post">
            <div class="userDetails">
                <a href="{% url 'details profile' pk=photo.user.id %}">
                    <div class="profileImg">
                        <img src="{{ photo.user.profile.profile_picture.url }}" alt="profile img">
                    </div>
                </a>
                <h4 class="userName">
                    <a href="{% url 'details profile' pk=photo.user.id %}">
                        {{ photo.user.profile.username }}
                    </a>
                    <br>
                    {% if photo.location %}
                        <span>{{ photo.location }}</span>
                    {% endif %}
                </h4>
            </div>
            <div class="imgBox">
                <img src="media/{{ photo.photo }}" alt="photo post" class="photoPost">
            </div>
            {% for fish in photo.tagged_fish.all %}
                <p class="fish-type"># {{ fish.name }}</p>
            {% endfor %}

            <h5 class="postTime">{{ photo.publication_date }}</h5>
        {% if photo.user == request.user %}
        <h5 class="postTime">
            <a href="{% url 'edit photo' pk=photo.pk %}">edit photo</a>
        </h5>
        {% else %}
        <h5 class="postTime">
            <a href="{% url 'details photo' pk=photo.pk %}">see details</a>
        </h5>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}