{% extends 'base/base-auth.html' %}
{% block page_content %}
    <div class="profile">
        <h1>Profile info : {{ object.email }}</h1>
        {% if is_owner %}
            <form class="profile-form" action="{% url 'edit user' pk=user.pk %}">
                <input style="cursor: pointer" type="submit" value="Edit email"/>
            </form>
            <form class="profile-form" action="{% url 'change password' pk=user.pk %}">
                <input style="cursor: pointer" type="submit" value="Edit password"/>
            </form>
            <form class="profile-form" action="{% url 'delete user' pk=user.pk %}">
                <input style="cursor: pointer" type="submit" value="Delete"/>
            </form>
            {#            <a style="color: lightskyblue; margin: 10px 10px 10px 10px; font-size: 25px"#}
            {#               href="{% url 'edit user' pk=object.pk %}">Edit</a>#}

            {#            <a style="color: lightskyblue;margin: 10px 10px 10px 10px; font-size: 25px;"#}
            {#               href="{% url 'delete user' pk=object.pk %}">Delete</a>#}
        {% endif %}

    </div>

{% endblock %}