.fish-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: arial, sans-serif;
    display: inline-block;
    margin-block-start: 40px;
    margin-inline: 20px;
    margin-left: 90px;
}


.fish-type {
    color: grey;
    font-size: 22px;
}

.fish-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.fish-card button:hover {
    opacity: 0.7;
}

.paginator {
    display: flex;
    justify-content: center;
    font-size: 1.6125rem;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    border-top: 1px solid var(--hairline-color);
    width: 100%;
}

.fish-img {
    border-radius: 5px 5px 0 0;
    width: 300px;
    height: 200px;
}

.fish-details {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 300px;
    height: 500px;
    text-align: center;
    font-family: arial, sans-serif;
    display: inline-block;
    margin-block-start: 30px;
    margin-inline: 20px;
    margin-left: 30px;
    float: left;

}

.description {
    height: 500px;
    width: 600px;
    overflow: hidden;

    margin-block-start: 30px;
}

.wrapper {
    width: 1000px;

    overflow: hidden;
}