.imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 1px 0 15px;
}

.imgBox img {
    width: 590px;
    height: 410px;
}
.photoformheader {
    color: lightskyblue;

    text-align: center;
}
.photo-form {
    border: solid lightskyblue;
    display: grid;
    text-align: center;
    border-radius: 2%;

}

.photo-form-container {
    border: black;
    height: 97%;
    width: 400px;
}
.post {
    margin: 2% 30%;
    position: relative;
    width: 44%;
    height: 690px;
    display: inline-block;
    border: 1px solid rgba(7, 7, 7, 0.24);
    flex-basis: 100%;
}

.profileImg img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -4px;
    margin-left: 3px;
}

.post .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -4px;

}

.postTime {
    margin-top: -12px;
    font-weight: lighter;
    cursor: default;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-transform: uppercase;
}

.postTime a {
    text-decoration: none;
}

.userName a {
    text-decoration: none;
    color: black;
}

.actionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtn svg {
    cursor: pointer;
}

.actionBtn .left svg {
    margin-left: 2px;
    margin-top: -8px;
}

.likes {
    font-weight: 500;
    margin-top: 3px;
    margin-left: 2px;
    font-size: 14px;
    cursor: default;
    color: #4d4d4f;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.comments .userDetails .profileImg {
    display: inline;
}

.comments .userDetails a p {
    display: inline-block;

}

.comments .userDetails a {
    text-decoration: none;
}

.comments .userDetails .profileImg img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 8px;
    margin-left: 3px;
    display: inline-block;
}


.comment-data {
    display: inline-block;
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: rgb(70, 65, 65);
}

.fishType {
    color: grey;
    font-size: 16px;
    margin-top: -10px;
    margin-left: 2px;
}

.comment-data h3 {
    margin-top: 5px;
}

.comment-data p {
    margin-top: 4px;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
    font-weight: lighter;
}

.addComment {
    display: block;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.addComment button[type="submit"] {
    position: absolute;
    right: 30px;
    color: #1d92ffcb;
    font-weight: 500;
    font-size: 15px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-top: -10px;
}

.addComment form {
    display: flex;
    margin-bottom: 15px;
}

.addComment form label {
    display: none;
}

textarea {
    position: absolute;
    left: 30px;
    width: 85%;
    resize: none;
    overflow: hidden;
    height: 20px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
}

textarea.text::placeholder {
    color: #777;
}

.photoDetails {
    height: 72%;
    width: 95%;
}

.photoDetails .imgBox {
    min-width: 250px;
    min-height: 250px;
    max-width: 600px;
    max-height: 500px;
    padding: 13px;
    display: inline-block;
}

.userDetails {
    height: 80px;
    width: 620px;
    padding-left: 8px;
}

.userDetails p {
    margin-top: 2px;
}

.userDetails .profileImg {
    display: inline-block;
}

.userDetails .profileImg img {
    margin-top: -15px;
}

.profileImg a {
    text-decoration: none;
}

.photoInfo {
    width: 630px;
    height: 420px;
}

.child {
    display: inline-block;

}

.parent {
    display: inline-flex;
}

.photoInfo p {
    margin-left: 3px;
}