@import "fish.css";
@import "photo.css";
@import "lake.css";

body, html {
    height: 100%;
    background: cornsilk;
    font-family: Georgia, sans-serif;


    /*background-image: url("../images/background_pic_accounts.jpg");*/


    /*!* Center and scale the image nicely *!*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.header {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -18px;
}

.bg {

    background-image: url("../images/344036.jpg");
    height: 1200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #888888;
    object-fit: cover;
}

.main-content {
    position: absolute;
    top: 50px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
    height: 100%;
}
.error {
    text-decoration-color: red;
}
.msg {
    background-color: lightcyan;
}
.user-form-edit ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: lightcyan;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: lightcyan;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightskyblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightskyblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: lightskyblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: white;
    text-align: center;
}

.user-form {
    width: 15%;
    padding: 10px 20px;
    margin-left: 20px;


    display: grid;
    opacity: 0.3;
}

.msgEditPrfl {
    margin-left: 135px;
    margin-top: 6px;
    color: lightskyblue;
}

.user-form-edit {
    width: 350px;
    height: 700px;
    margin-left: 20px;
    margin-top: -20px;
    border-radius: 1%;
    padding: 0 5px;
    background-color: lightgoldenrodyellow;
    display: grid;
    opacity: 0.6;
}

.user-form-edit button[type=submit] {
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    width: 300px;
}

input {
    background-color: lightcyan;
    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    border-radius: 5px;
}

button[type=submit] {
    background-color: lightblue;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit] {
    background-color: lightblue;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

#acc-message {
    margin-left: 55px;
    padding-top: 10px;
    color: lightskyblue;
}

#bottom-acc-message {
    color: lightskyblue;
    margin-left: 60px;

}

#bottom-acc-message a {
    color: lightskyblue;

}

.profile {

    padding: 10px 20px;
    margin-left: 20px;

}

/*.profile-data {*/
/*    display: flex;*/

/*}*/
.profile-form-pass-change {
    width: 350px;
    height: 450px;
    margin-left: 20px;
    margin-top: -7px;
    border-radius: 2%;
    padding: 10px 10px;
    background-color: lightgoldenrodyellow;
    display: grid;
    opacity: 0.7;
}

.profile-form-pass-change p {
    text-decoration-color: red;
}

.acc-message {
    margin-left: 72px;
    color: lightskyblue;
    margin-top: 8px;
}

.profile-form {
    width: 25%;
    height: 100%;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: -20px;
    border-radius: 5%;

    display: grid;
    opacity: 0.7;
}

.card {
    margin-left: 80px;
    /*margin-top: 200px;*/
    position: center;

    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 40%;
}


.card img {
    box-shadow: 0 4px 8px 0 white;
}

.card img:hover {
    box-shadow: 0 4px 8px 0 white;
    opacity: 0.7;
}


.container {
    width: 200px;
    margin-left: 30px;
    text-align: center;

}


img {
    border-radius: 5px 5px 0 0;
    width: 330px;
}

.profile-card .card img {
    border-radius: 50%;
    width: 250px;
    margin-top: 5px;

}

.profile-card {
    box-shadow: 5px 5px 5px 5px lightskyblue;
    border-radius: 2px;
    width: 450px;
    height: 500px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: cornsilk;
    opacity: 0.7;
    display: inline-block;


}

.col {
    width: 60px;
    height: 50px;
}

.super {

    margin-left: 635px;
    margin-top: 200px;

}

.profile-data {
    height: 500px;
    width: 400px;
}

.image-container {

    margin-left: 20px;
    width: 330px;
    height: 330px;
}

.profile-parent {
    display: inline-flex;
    width: 90%;
    height: 550px;
}

.profile-pics {
    display: inline-block;
    width: 740px;
    height: 500px;
    margin-left: 10px;
}

.editProfile {
    display: flex;
    width: 70px;
    height: 50px;
    margin-left: 98px;
}

.card .editProfile img {

    width: 35px;
    margin-top: 3px;
}

.profile-photos {
    border: solid black;
    width: 690px;
    height: 400px;
    margin: 15px;
}

.profile-photos a img {
    width: 320px;
    margin: 11px;
    border-radius: 5%;
}
