{% load static %}

<nav>
    <ul>
        <li>
            <a href="{% url 'home' %}">Fishbook</a>
        </li>
        <li>
            <a href="#">Map</a>
        </li>
        {% if user.is_authenticated %}
            <li style="float:right" class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Account</a>
                <div class="dropdown-content">
                    <a href="{% url 'details user' pk=user.pk %}">Details</a>
                    <a href="{% url 'logout user' %}">Logout</a>

                </div>
            </li>
            {% if user.profile %}
                <li style="float:right">
                <a href="{% url 'details profile' pk=profile.pk %}">Profile</a>
            </li>
                {% else %}
            <li style="float:right">
                <a href="{% url 'create profile' %}">Profile</a>
            </li>
                {% endif %}
        {% else %}
            <li style="float:right">
                <a href="{% url 'login user' %}">Login</a>
            </li>
            <li style="float:right">
                <a href="{% url 'register user' %}">Register</a>
            </li>
        {% endif %}


    </ul>
</nav>
