{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img width="130px"
                     src="{% static 'images/fish-logo2.jpg' %}"
                     alt="img1">
            </a>
            <a class="home" href="{% url 'home' %}">
                <i>Fishbook</i>
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                <li class="nav-item">
                    <a href="#">
                        <i>Map</i>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout user' %}">
                            <i>Logout</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login user' %}">
                            <i>Login</i>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
